<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/layout :: head (title=#{view.index.title})"></head>

<body>
<div th:replace="fragments/layout :: header"></div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/components :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    <p class="lead text-center">
        Welcome to the Spring <span th:text="${springVersion}">0.0.0</span> MVC Start application!
    </p>
    <div th:replace="fragments/layout :: footer"></div>
    <div th:replace="fragments/layout :: script"></div>
</div>
</body>
</html>
